# Hugging Face mirror endpoint
# Mirror address for accelerating model downloads
HF_ENDPOINT=https://hf-mirror.com

# Whether to reuse the current database
# When set to true, will reuse existing database connection
# When set to false, will start download dockers, at this time:
#                   if DB_STORE is seekdb, DB_USER must be root
#                   if DB_STORE is oceanbase, DB_USER must be root@test
REUSE_CURRENT_DB=false


# Use what kind of docker, seekdb's docker or oceanbase-ce's docker
# Options: seekdb, oceanbase
# seekdb: If REUSE_CURRENT_DB is false, download seekdb docker
# oceanbase: If REUSE_CURRENT_DB is false, download oceanbase-ce docker
DB_STORE=seekdb

# Database Setting, please change as your environment. 
DB_HOST="127.0.0.1"
DB_PORT="2881"
#if REUSE_CURRENT_DB=false and DB_STORE=seekdb, DB_USER must be root
#if REUSE_CURRENT_DB=false and DB_STORE=oceanbase, DB_USER must be root@test
DB_USER="root"
# If database use OceanBase, the DB_USER will contain tenant's name
# DB_USER="root@test"
DB_PASSWORD="Testob1234"
DB_NAME="test"


# UI language
# Display language for the application interface, options: zh (Chinese), en (English), ja (Japanese)
UI_LANG="zh"

# OpenAI-compatible image captioning API (Qwen/OpenAI/Azure etc)
API_KEY=
BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL=qwen-vl-max

